@font-face {
    font-family: "CustomFont";	
    src: url("font.ttf");
}

* {
    font-family: "CustomFont";
    user-select: none;
}

body {
    background: black;
}

button, div {
    margin-right: 10px;
    background: none;
    color: white;
    border: none;
}

#back {
    position: relative; 
    z-index: 1;
    font-size: 5vh;
}

button:hover, #back:hover{
    opacity: 0.5;
    cursor: pointer;
}